@media screen and (max-width:1680px){}
@media screen and (max-width:1600px){}
@media screen and (max-width:1540px){}
@media screen and (max-width:1500px){}
@media screen and (max-width:1400px){}
@media screen and (max-width:1366px){}
@media screen and (max-width:1300px){}
@media screen and (max-width:1130px){}
@media screen and (max-width:1024px){}
@media screen and (max-width:992px){}
@media screen and (max-width:820px){}
@media screen and (max-width:768px){}
@media screen and (max-width:550px){}
@media screen and (max-width:500px){}
@media screen and (max-width:428px){}
@media screen and (max-width:414px){}
@media screen and (max-width:395px){}
@media screen and (max-width:375px){}
@media screen and (max-width:360px){}