@import url('https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--Caladea-ff: "Caladea", serif;
	--Poppins-ff: "Poppins", sans-serif;
	--Inter-ff: "Inter", sans-serif;
	--Montserrat-ff: "Montserrat", sans-serif;

	--color-white: #FFFFFF;
	--color-black: #000000;
	--color-primary:#313B89;
	--color-secondary:#394993;
	--color-tertiary:#2EA853;
	--color-quaternary:#1BA84B;
	--color-quinary:#494949;
	--color-senary:#D9D9D9;
	--color-septenary: #CCCCCC;

	--fs-title: 45px;
	--fs-title-sub: 25px;
	--fs-sub-txt: 20px;
	--fs-body: 18px;
	--fs-body-txt: 16px;
	--fs-body-sub: 14px;
	--fs-links: 12px;

	--fw-light:300;
	--fw-regular:400;
	--fw-medium:500;
	--fw-semi-bold:600;
	--fw-bold:700;
	--fw-extra-bold:800;
	--fw-black:900;	

	--sv-gap: 60px;
	--activeLeaderCard: 55.917%;
}
/* :root{--fs-title:40px;--fs-title-sub:20px;--fs-sub-txt:18px;--fs-body:16px;--fs-body-txt:14px;--fs-body-sub:12px;--fs-links:10px;--sv-gap:60px;} */

*,*::before,*::after{outline:none;box-sizing:border-box;scroll-behavior:smooth;}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,ul li,*{margin:0;padding:0;font-size: inherit;font-family: inherit;font-weight: inherit;color: inherit;}
body{margin:0;padding:0;line-height:1.5;background-color: var(--White);text-rendering:optimizeSpeed;font-family: var(--Poppins-ff);}
body,html{scroll-behavior: auto !important;}
header, main, footer{width: 100%;float: left;}
img,video,picture,svg{width: 100%;max-width:100%;height:auto;display:block;}
a{color:inherit;text-decoration:none;}
ul,ol{list-style:none;}
button,input,select,textarea{font:inherit;outline:none;-moz-appearance:none;-webkit-appearance:none;}
button{cursor: pointer;}
a:link,a:visited{text-decoration:none;border:none;outline:none;}
.desktop{display:block;}
.mobile{display:none;}
.helperSpan{display:inline-block;vertical-align:middle;width:1px;height:100%;}
.relative{position:relative;}
.absolute{position:absolute;}
.clr{clear:both;}
.floatLft{float:left;}
.floatRgt{float:right;}
.textCenter{text-align:center;}
.textJustify{text-align:justify;}
.textLeft{text-align:left;}
.textRight{text-align:right;}
.textUp{text-transform:uppercase;}
.bg-transparent{background-color:transparent;}
.d-flex{display: flex;}
.gap0-5{gap: 0.5em;}
.gap1{gap: 1em;}
.flxFlwRwWrp{flex-flow: row wrap;}
.justContCent{justify-content: center;}
.justContStretch{justify-content: stretch;}
.justContSpBtw{justify-content: space-between;}
.justContflxEnd{justify-content: flex-end;}
.algnItmCent{align-items: center;}
.algnItmstretch{align-items: stretch;}
.algnItmEnd{align-items: flex-end;}
.inlineBlk{display:inline-block;vertical-align:middle;}
.table{display:table;}
.transition{transition:all 0.35s ease 0s;-moz-transition:all 0.35s ease 0s;-webkit-transition:all 0.35s ease 0s;}
.row{display:flex; justify-content: space-between;}
.flexdircol{flex-direction:column;}
.flexdirrow{flex-direction:row;}
.overflowHide{overflow: hidden;}
.overflowHideX{overflow-x: hidden;}
.overflowHideY{overflow-y: hidden;}
.black{color: var(--Black);}
.white{color: var(--White);}
.col-10{width:10%;}
.col-20{width:20%;}
.col-30{width:30%;}
.col-40{width:40%;}
.col-50{width:50%;}
.col-60{width:60%;}
.col-70{width:70%;}
.col-80{width:80%;}
.col-90{width:90%;}
.col-100{width:100%;}

/* font weight */
.fw-black{font-weight:var(--fw-black);}
.fw-ex-bold{font-weight:var(--fw-extra-bold);}
.fw-bold{font-weight:var(--fw-bold);}
.fw-semi-bold{font-weight:var(--fw-semi-bold);}
.fw-medium{font-weight:var(--fw-medium);}
.fw-regular{font-weight:var(--fw-regular);}
.fw-liht{font-weight:var(--fw-light);}
.ff-primary{font-family:var(--ff-primary);}

.svGap{padding-block: var(--sv-gap);}
.padd0{padding-bottom: 0;}

.headWrapper{max-width: 1360px;margin-inline: auto;}
.main-wrapper{max-width: 1200px;margin-inline: auto;}

.commonSecTitleBottomGap{margin-bottom: 1em;}
.commonSecTitle{font-size: var(--fs-title);font-weight: var(--fw-regular);font-family: var(--Caladea-ff);color: var(--color-primary);}
.commonSecTitle span{color: var(--color-tertiary);font-style: italic;}
.commonSecTxt{font-size: var(--fs-body);color: var(--color-primary);font-weight: var(--fw-medium);margin-inline: auto;}