/* Header */
header.headSec{position: fixed;top: 0px;left: 0px;background-color: var(--color-white);z-index: 99;}
header.headSec.stickyHead{box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}
.siteLogo{max-width: 106px;}
.headContent{padding-block: 1.25em;}
.siteMenu nav > ul.d-flex{gap: 1.25em;}
.siteMenu nav > ul > li > a{line-height: 1.825;color: var(--color-primary);}
.stickyHead{position: sticky;top: 0;left: 0;}
.hamburger{display: none;}

main{margin-top: 80px;}

/* Home */
/* Banner */
.hmBannerSlider{width: 100%;height: 100%;top: 50%;left: 50%;transform: translate(-50%,-50%);z-index: -1;}
.hmBannerSlider *{height: 100%;}
.hmBannerSlider .hmBannerSlide > img{width: 100%;height: 100%;object-fit: cover;}
.hmBannerContent{min-height: 91.2dvh;display: flex;align-items: center;justify-content: flex-end;}
.hmBannerTitle{font-size: var(--fs-title);text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.58);color: var(--color-white);font-family: var(--Caladea-ff);font-weight: var(--fw-regular);max-width: 586px;}
.hmBannerTitle > * > span{font-weight: var(--fw-bold);font-style: italic;}
.hmBannerSec::before{content: "";background: linear-gradient(90deg, rgba(34, 10, 5, 0) 0%, rgba(0, 0, 0, 0.8) 100%);position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);width: 100%;height: 100%;}

/* Future of Beverages */
.beveragesFutureSlider{padding-block: calc(var(--sv-gap) * 2);direction: rtl;}
.beveragesFutureSlider::before{content: "";width: 100%;height: 100%;background: linear-gradient(90deg,rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 15%);position: absolute;top: 0;left: 0;z-index: 3;pointer-events: none;}
.beveragesFutureSlider::after{content: "";width: 100%;height: 100%;background: linear-gradient(280deg,rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 15%);position: absolute;top: 0;left: 0;z-index: 3;pointer-events: none;}
.beveragesFutureSlide{padding-inline: calc(var(--sv-gap)*3);}
.beveragesFutureSec .commonSecTxt{max-width: 700px;margin-inline: auto;}

/* Define Us */
.defineUsSec{background-image: url(../images/dotted-bg.png);background-position: center;background-repeat: no-repeat;background-size: cover;}
.defineUsSec .commonSecTxt{max-width: 800px;margin-inline: auto;}
.defineUsCards, .defineUsCards > *{gap: 2.5em;}
.defineUsCards{margin-bottom: 2.5em;}
.defineUsCardCol2{margin-top: 4.4375em;}
.centerLogo{top: 50%;left: 50%;transform: translate(-50%,-50%);background-color: var(--color-white);width: 20%;height: auto;border-radius: 100%;aspect-ratio: 1/1;display: flex;align-items: center;justify-content: center;z-index: 3;}
.centerLogo > *{max-width: 50%;}
.defineUsCardTxt{top: 0;left: 0;width: 100%;height: 100%;display: flex;flex-direction: column;justify-content: center;align-items: center;text-align: center;color: var(--color-white);}
.defineUsCardTxt > *{max-width: 324px;position: relative;z-index: 3;}
.defineUsCardTitle{font-size: var(--fs-title-sub);font-family: var(--Caladea-ff);font-weight: var(--fw-bold);}
.defineUsCardDesc{font-size: var(--fs-body-sub);font-weight: var(--fw-medium);margin-bottom: 0.6em;}
.defineUsCardBtn{font-size: var(--fs-links);font-weight: var(--fw-light);}
.defineUsCardTitle{transform:translateY(100px);opacity:0;transition:all 0.5s ease;transition-delay:0.1s;}
.defineUsCardDesc{transform:translateY(100px);opacity:0;transition:all 0.5s ease;transition-delay:0.25s;}
.defineUsCardBtn{transform:translateY(100px);opacity:0;transition:all 0.5s ease;transition-delay:0.4s;}
.defineUsCard:hover .defineUsCardBtn,.defineUsCard:hover .defineUsCardDesc,.defineUsCard:hover .defineUsCardTitle{transform: translateY(0px);opacity: 1;}

.defineUsCardTxt::before{content: "";opacity: 0.7;width: 100%;height: 100%;position: absolute;top: 0;left: 0;z-index: 1;transform: scale(0);transition: all 0.8s;transition-delay: 0.5s;border-radius: 100%;}
.defineUsCard:hover .defineUsCardTxt::before{transform: scale(1);transition-delay: 0s;border-radius: 0px;}
.defineUsCardCol1 .defineUsCard:first-child .defineUsCardTxt::before,.defineUsCardCol2 .defineUsCard:last-child .defineUsCardTxt::before{background-color: var(--color-primary);}
.defineUsCardCol1 .defineUsCard:last-child .defineUsCardTxt::before,.defineUsCardCol2 .defineUsCard:first-child .defineUsCardTxt::before{background-color: var(--color-tertiary);}
/* Col1 - First card → scale from bottom right */
.defineUsCardCol1 .defineUsCard:first-child .defineUsCardTxt::before{background-color:var(--color-primary);transform-origin:100% 100%;}
/* Col1 - Second card → scale from top right */
.defineUsCardCol1 .defineUsCard:last-child .defineUsCardTxt::before{background-color:var(--color-tertiary);transform-origin:100% 0%;}
/* Col2 - First card → scale from bottom left */
.defineUsCardCol2 .defineUsCard:first-child .defineUsCardTxt::before{background-color:var(--color-tertiary);transform-origin:0% 100%;}
/* Col2 - Second card → scale from top left */
.defineUsCardCol2 .defineUsCard:last-child .defineUsCardTxt::before{background-color:var(--color-primary);transform-origin:0% 0%;}
.defineUsCard:hover .defineUsCardTxt::before{transform:scale(1);}


/* What’s Brewing */
.brewingCards{gap: 2.5em;}
.brewingCard{border-radius: 20px;overflow: hidden;border: 1px solid #F4F4F4;background-color: var(--color-white);box-shadow: 10px 30px 50px rgba(155, 157, 178, 0.1);}
.brewingCardImg{overflow: hidden;}
.brewingCardImg > img{aspect-ratio: 1.72/1;object-fit: cover;transition: all 0.3s;}
.brewingCard:hover .brewingCardImg > img{transform: scale(1.1);}
.brewingCardImg > .absolute{top: 10px;left: 10px;background-color: #E6E9FB;border-radius: 10px;padding: 8px;font-family: var(--Montserrat-ff);font-weight: var(--fw-medium);}
.brewingCardImg > .absolute > *{display: block;text-align: center;line-height: 1;letter-spacing: -0.03em;font-size: var(--fs-body);}
.brewingCardImg > .absolute > *:first-child{font-size: calc(var(--fs-title-sub) + 2px);}
.brewingCardTxt{padding: 0.9375em 1.25em;}
.brewingCardBtn{font-size: var(--fs-links);color: var(--color-primary);font-weight: var(--fw-medium);text-decoration: underline;}
.brewingCardDesc{font-size: var(--fs-body-sub);color: var(--color-quinary);line-height: 1.2;margin-block: 0.75em;}
.brewingCardTitle{font-size: var(--fs-title-sub);font-weight: var(--fw-bold);color: var(--color-black);font-family: var(--Caladea-ff);}

/* Footer */
footer{background-color: var(--color-secondary);padding-block: 5em;}
.footLogo{max-width: 181px;margin-bottom: 2.5em;}
.footLftLinks{font-size: var(--fs-body-txt);color: var(--color-septenary);margin-bottom: 2.5em;}
.footLftLinks > .footLftLink:not(:last-child){margin-bottom: 1.1428em;}
.footSocailLinks{gap: 1.5em;}
.footSocailLink{max-width: 24px;width: 100%;height: auto;}
.footToTopBtn{top: -50px;left: 50%;transform: translateX(-50%);z-index: 9;max-width: 100px;height: auto;cursor: pointer;}
.footLinks{max-height: calc(1.5em * 6);flex-wrap: wrap;column-gap: 7.562em;row-gap: 1.5em;width: 60%;}
.footLink{font-size: var(--fs-sub-txt);color: var(--color-white);font-weight: var(--fw-semi-bold);font-family: var(--Inter-ff);}