/* Header */
header.headSec{position: fixed;top: 0px;left: 0px;background-color: var(--color-white);z-index: 99;}
header.headSec.stickyHead{box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}
.siteLogo{max-width: 136px;}
.headContent{padding-block: 1.25em;transition: all 0.3s;}
header.headSec.stickyHead .headContent{padding-block: 0.8em;}
.siteMenu nav > ul.d-flex{gap: 1.25em;}
.siteMenu nav > ul.d-flex > li{position: relative;}
.siteMenu nav > ul.d-flex > li::before{position: absolute;top: 100%;left: 50%;transform: translateX(-50%);width: 0%;height: 2px;background-color: var(--color-primary);content: "";transition: all 0.3s;}
.siteMenu nav > ul.d-flex > li:hover::before{width: 100%;}
.siteMenu nav > ul > li > a{line-height: 1.825;color: var(--color-primary);font-size: var(--fs-body-sub);text-transform: capitalize;}
.siteMenu nav > ul > li > a.active{font-weight: var(--fw-bold);}
.stickyHead{position: sticky;top: 0;left: 0;}
/* Hamburger */
.hamburger{width:30px;height:22px;display:none;flex-direction:column;justify-content:space-between;cursor:pointer;position:relative;z-index:9999;}
.hamburger span{display:block;height:3px;background:var(--color-primary);border-radius:3px;transition:all 0.3s ease;}
/* Hamburger to Close (X) animation */
.hamburger.active span:nth-child(1){transform:rotate(45deg) translate(6px,6px);}
.hamburger.active span:nth-child(2){opacity:0;}
.hamburger.active span:nth-child(3){transform:rotate(-45deg) translate(7px,-7px);}
body.menuOpen{overflow:hidden;height:100vh;}
/* Change hamburger span color only if next sibling .siteNav has .active inside */
.hamburger:has(+ .siteNav.active) span{background-color:var(--color-white);}
.menuOverlay{position: fixed;top: 0;left: 0;background-color: rgba(0,0,0,0.8);width: 100%;height: 100%;z-index: 99;}


main{margin-top: 90px;}
.lastSec{padding-bottom: calc(var(--sv-gap)*1.5);}

/* Home */
/* Banner */
.hmBannerSlider,.commBannerSlider{width: 100%;height: 100%;top: 50%;left: 50%;transform: translate(-50%,-50%);z-index: -1;}
.mobilehmBannerSlider{display: none;}
.hmBannerSlider *,.commBannerSlider *{height: 100%;}
.hmBannerSlider .hmBannerSlide > img,.commBannerSlider .hmBannerSlide > img{width: 100%;height: 100%;object-fit: cover;}
.hmBannerContent{min-height: 91.2dvh;display: flex;align-items: center;justify-content: flex-end;}
.hmBannerTitle,.commBannerTitle{font-size: var(--fs-title);text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.58);color: var(--color-white);font-family: var(--Caladea-ff);font-weight: var(--fw-regular);max-width: 28ch;line-height: 1.3;}
.commBannerTitle{max-width: 24ch;}
.hmBannerTitle > * > span,.commBannerTitle > * > span{font-weight: var(--fw-bold);font-style: italic;}
.hmBannerSec::before,.commBannerCont::before{content: "";background: linear-gradient(90deg, rgba(34, 10, 5, 0) 0%, rgba(0, 0, 0, 0.8) 100%);position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);width: 100%;height: 100%;}
.hmBannerSec.noOverlay::before,.commBannerCont.noOverlay::before{display: none;}

/* Future of Beverages */
.beveragesFutureSlider{padding-block: calc(var(--sv-gap) * 2);direction: rtl;}
.beveragesFutureSlider::before{content: "";width: 100%;height: 100%;background: linear-gradient(90deg,rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 15%);position: absolute;top: 0;left: 0;z-index: 3;pointer-events: none;}
.beveragesFutureSlider::after{content: "";width: 100%;height: 100%;background: linear-gradient(280deg,rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 15%);position: absolute;top: 0;left: 0;z-index: 3;pointer-events: none;}
.beveragesFutureSlide{padding-inline: calc(var(--sv-gap)*2);}
.beveragesFutureSec .commonSecTxt{max-width: 700px;margin-inline: auto;}
.ourBrandBtnOnHover{top: 0;left: 0;width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;background-color: rgba(255, 255, 255, 0.8);z-index: 3;opacity: 0;pointer-events: none;transition: all 0.5s;}
.beveragesFutureSliderSec:hover .ourBrandBtnOnHover{opacity: 1;pointer-events: all;}
.ourBrandBtnOnHover > a{font-size: var(--fs-sub-txt);font-weight: var(--fw-medium);color: var(--color-tertiary);padding: 1em;border: 2px solid var(--color-tertiary);border-radius: 10px;background-color: var(--color-white);}
.ourBrandBtnOnHover.mobileBtn{display: none;}

/* Define Us */
.defineUsSec{background-image: url(../images/dotted-bg.png);background-position: center;background-repeat: no-repeat;background-size: cover;}
.defineUsSec .commonSecTxt{max-width: 800px;margin-inline: auto;}
.defineUsCards, .defineUsCards > *{gap: 2.5em;}
.defineUsCards{margin-bottom: 2.5em;}
.defineUsCardCol2{margin-top: 4.4375em;}
.centerLogo{top: 50%;left: 50%;transform: translate(-50%,-50%);background-color: var(--color-white);width: 20%;height: auto;border-radius: 100%;aspect-ratio: 1/1;display: flex;align-items: center;justify-content: center;z-index: 3;}
.centerLogo > *{max-width: 50%;}
.defineUsCardTxt{top: 0;left: 0;width: 100%;height: 100%;display: flex;flex-direction: column;justify-content: center;align-items: center;text-align: center;color: var(--color-white);}
.defineUsCardTxt > *{max-width: 324px;position: relative;z-index: 3;}
.defineUsCardTitle{font-size: var(--fs-title-sub);font-family: var(--Caladea-ff);font-weight: var(--fw-bold);}
.defineUsCardDesc{font-size: var(--fs-body-sub);font-weight: var(--fw-medium);margin-bottom: 0.6em;}
.defineUsCardBtn{font-size: var(--fs-links);font-weight: var(--fw-light);text-decoration: underline;}
.defineUsCardTitle{transform:translateY(100px);opacity:0;transition:all 0.5s ease;transition-delay:0.1s;}
.defineUsCardDesc{transform:translateY(100px);opacity:0;transition:all 0.5s ease;transition-delay:0.25s;}
.defineUsCardBtn{transform:translateY(100px);opacity:0;transition:all 0.5s ease;transition-delay:0.4s;}
.defineUsCard:hover .defineUsCardBtn,.defineUsCard:hover .defineUsCardDesc,.defineUsCard:hover .defineUsCardTitle{transform: translateY(0px);opacity: 1;}

.defineUsCardTxt::before{content: "";opacity: 0.7;width: 100%;height: 100%;position: absolute;top: 0;left: 0;z-index: 1;transform: scale(0);transition: all 0.8s;transition-delay: 0.5s;border-radius: 100%;}
.defineUsCardCol1 .defineUsCard:first-child .defineUsCardTxt::before,.defineUsCardCol2 .defineUsCard:last-child .defineUsCardTxt::before{background-color: var(--color-primary);}
.defineUsCardCol1 .defineUsCard:last-child .defineUsCardTxt::before,.defineUsCardCol2 .defineUsCard:first-child .defineUsCardTxt::before{background-color: var(--color-tertiary);}
/* Col1 - First card → scale from bottom right */
.defineUsCardCol1 .defineUsCard:first-child .defineUsCardTxt::before{background-color:var(--color-primary);transform-origin:100% 100%;}
/* Col1 - Second card → scale from top right */
.defineUsCardCol1 .defineUsCard:last-child .defineUsCardTxt::before{background-color:var(--color-tertiary);transform-origin:100% 0%;}
/* Col2 - First card → scale from bottom left */
.defineUsCardCol2 .defineUsCard:first-child .defineUsCardTxt::before{background-color:var(--color-tertiary);transform-origin:0% 100%;}
/* Col2 - Second card → scale from top left */
.defineUsCardCol2 .defineUsCard:last-child .defineUsCardTxt::before{background-color:var(--color-primary);transform-origin:0% 0%;}
.defineUsCard:hover .defineUsCardTxt::before{transform: scale(1);transition-delay: 0s;border-radius: 0px;}


/* What’s Brewing */
.brewingCard{border-radius: 20px;overflow: hidden;border: 1px solid #F4F4F4;background-color: var(--color-white);box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;margin: 1em;}
/* .brewingCard:hover{box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;} */
.brewingCardImg{overflow: hidden;}
.brewingCardImg > img{aspect-ratio: 1.72/1;object-fit: cover;transition: all 0.3s;}
.brewingCard:hover .brewingCardImg > img{transform: scale(1.1);}
.brewingCardImg > .absolute{top: 10px;left: 10px;background-color: #E6E9FB;border-radius: 10px;padding: 8px;font-family: var(--Montserrat-ff);font-weight: var(--fw-medium);}
.brewingCardImg > .absolute > *{display: block;text-align: center;line-height: 1;letter-spacing: -0.03em;font-size: var(--fs-body);}
.brewingCardImg > .absolute > *:first-child{font-size: calc(var(--fs-title-sub) + 2px);}
.brewingCardTxt{padding: 0.9375em 1.25em;}
.brewingCardBtn{font-size: var(--fs-links);color: var(--color-primary);font-weight: var(--fw-medium);text-decoration: underline;}
.brewingCardDesc{font-size: var(--fs-body-sub);color: var(--color-quinary);line-height: 1.2;margin-block: 0.75em;}
.brewingCardTitle{font-size: var(--fs-title-sub);font-weight: var(--fw-bold);color: var(--color-black);font-family: var(--Caladea-ff);}
.brewingCards .slick-dots{bottom: -10px;}
.brewingCards .slick-dots li button{width: 10px;height: 10px;border-color: transparent;background-color: #80808057;}
.brewingCards .slick-dots li:only-child{display: none;}
.slick-dots li.slick-active button{background-color: var(--color-tertiary);}

/* Footer */
footer{background-color: var(--color-secondary);padding-block: 5em;}
.footLogo{max-width: 181px;margin-bottom: 2.5em;}
.footLftLinks{font-size: var(--fs-body-txt);color: var(--color-septenary);margin-bottom: 2.5em;}
.footLftLinks > .footLftLink:not(:last-child){margin-bottom: 1.1428em;}
.footSocailLinks{gap: 1.5em;}
.footSocailLink{max-width: 32px;width: 100%;height: auto;position: relative;border-radius: 100%;border: 1px solid transparent;transition: all 0.3s;}
.footSocailLink:hover{padding: 0.3em;border-color: var(--color-white);}
.footLinks{max-height: calc(1.5em * 6);flex-wrap: wrap;column-gap: 7.562em;row-gap: 1.5em;width: 60%;}
.footLink{font-size: var(--fs-sub-txt);color: var(--color-white);font-weight: var(--fw-semi-bold);font-family: var(--Inter-ff);}

.footToTopBtn{top: -50px;left: 50%;transform: translateX(-50%);z-index: 9;max-width: 100px;height: auto;cursor: pointer;}
.toTopSvg .topText{transform:translateY(10px) scale(0.6);opacity:0;transform-origin:center;transition:all 0.4s ease;}
.toTopSvg path{transform:translateY(12px);}
.footToTopBtn:hover .toTopSvg path{transform:translateY(0px);}
.footToTopBtn:hover .toTopSvg .topText{transform:translateY(0) scale(1);opacity:1;}
.footToTopBtn svg path:first-of-type{transition:transform 0.3s ease;}
.footToTopBtn:hover svg path:first-of-type{transform:translateY(-4px);}

/* Who We Are */
.spiritedOriginSec .commonSecTxt{max-width: 870px;}
.ourLeadersSec .commonSecTxt{max-width: 900px;}
.ourLeadersCards{margin-top: calc(var(--sv-gap)/2);gap: 1.25em;}
.ourLeadersCard{width: calc(25% - 0.94em);background-color: var(--color-quaternary);border-radius: 20px;padding: 1.25em 0.3em;overflow: hidden;cursor: pointer;}
.ourLeadersCard:not(.active){padding-bottom: 20em;}
.ourLeadersCard.active{padding: 1.25em 2.5em;width: 55.917%;}
.ourLeadersCard::before{content: "";position: absolute;top: 100%;left: 0;background-color: var(--color-secondary);width: 100%;height: 100%;transition: all 0.5s;pointer-events: none;}
.ourLeadersCard.active::before{top: 0;}
.ourLeadersCardTitle{font-size: calc(var(--fs-title)/2);font-family: var(--Caladea-ff);color: var(--color-white);font-weight: var(--fw-bold);text-align: center;line-height: 1.1;}
.ourLeadersCard.active .ourLeadersCardTitle{font-size: var(--fs-title);}
.ourLeadersCardSubTitle{font-size: var(--fs-body);color: var(--color-white);font-family: var(--Caladea-ff);text-align: center;margin-bottom: 0.5em;}
.ourLeadersCard.active .ourLeadersCardSubTitle{font-size: var(--fs-title-sub);}
.ourLeadersCardDesc{font-size: var(--fs-body-sub);color: var(--color-white);font-weight: var(--fw-medium);text-align: justify;opacity: 0;width: 0;height: 0;}
.ourLeadersCard.active .ourLeadersCardDesc{opacity: 1;width: auto;height: auto;}
.ourLeadersCard.active .ourLeadersCardTxt{width: 50%;margin-left: auto;}
.ourLeadersCard.active .ourLeadersCardImg{max-width: 52%;height: auto;bottom: 0;left: 0;}
.ourLeadersCardImg{bottom: 0;left: 0;z-index: 0;transition: all 0.3s;}

/* If 1st card is active */
.ourLeadersCards:has(.ourLeadersCard.active:nth-child(1)) > .ourLeadersCard:nth-child(1){width:var(--activeLeaderCard);}
.ourLeadersCards:has(.ourLeadersCard.active:nth-child(1)) > .ourLeadersCard:nth-child(2),.ourLeadersCards:has(.ourLeadersCard.active:nth-child(1)) > .ourLeadersCard:nth-child(3),.ourLeadersCards:has(.ourLeadersCard.active:nth-child(1)) > .ourLeadersCard:nth-child(4){width:calc((100% - var(--activeLeaderCard)) / 3.4);padding-bottom:0;}
/* If 2nd card is active */
.ourLeadersCards:has(.ourLeadersCard.active:nth-child(2)) > .ourLeadersCard:nth-child(2){width:var(--activeLeaderCard);}
.ourLeadersCards:has(.ourLeadersCard.active:nth-child(2)) > .ourLeadersCard:nth-child(1),.ourLeadersCards:has(.ourLeadersCard.active:nth-child(2)) > .ourLeadersCard:nth-child(3),.ourLeadersCards:has(.ourLeadersCard.active:nth-child(2)) > .ourLeadersCard:nth-child(4){width:calc((100% - var(--activeLeaderCard)) / 3.4);padding-bottom:0;}
/* If 3rd card is active */
.ourLeadersCards:has(.ourLeadersCard.active:nth-child(3)) > .ourLeadersCard:nth-child(3){width:var(--activeLeaderCard);}
.ourLeadersCards:has(.ourLeadersCard.active:nth-child(3)) > .ourLeadersCard:nth-child(1),.ourLeadersCards:has(.ourLeadersCard.active:nth-child(3)) > .ourLeadersCard:nth-child(2),.ourLeadersCards:has(.ourLeadersCard.active:nth-child(3)) > .ourLeadersCard:nth-child(4){width:calc((100% - var(--activeLeaderCard)) / 3.4);padding-bottom:0;}
/* If 4th card is active */
.ourLeadersCards:has(.ourLeadersCard.active:nth-child(4)) > .ourLeadersCard:nth-child(4){width:var(--activeLeaderCard);}
.ourLeadersCards:has(.ourLeadersCard.active:nth-child(4)) > .ourLeadersCard:nth-child(1),.ourLeadersCards:has(.ourLeadersCard.active:nth-child(4)) > .ourLeadersCard:nth-child(2),.ourLeadersCards:has(.ourLeadersCard.active:nth-child(4)) > .ourLeadersCard:nth-child(3){width:calc((100% - var(--activeLeaderCard)) / 3.4);padding-bottom:0;}
/* If 5th card is active */
.ourLeadersCards:has(.ourLeadersCard.active:nth-child(5)) > .ourLeadersCard:nth-child(5){width:var(--activeLeaderCard);}
.ourLeadersCards:has(.ourLeadersCard.active:nth-child(5)) > .ourLeadersCard:nth-child(6),.ourLeadersCards:has(.ourLeadersCard.active:nth-child(5)) > .ourLeadersCard:nth-child(7),.ourLeadersCards:has(.ourLeadersCard.active:nth-child(5)) > .ourLeadersCard:nth-child(8){width:calc((100% - var(--activeLeaderCard)) / 3.4);padding-bottom:0;}
/* If 6th card is active */
.ourLeadersCards:has(.ourLeadersCard.active:nth-child(6)) > .ourLeadersCard:nth-child(6){width:var(--activeLeaderCard);}
.ourLeadersCards:has(.ourLeadersCard.active:nth-child(6)) > .ourLeadersCard:nth-child(5),.ourLeadersCards:has(.ourLeadersCard.active:nth-child(6)) > .ourLeadersCard:nth-child(7),.ourLeadersCards:has(.ourLeadersCard.active:nth-child(6)) > .ourLeadersCard:nth-child(8){width:calc((100% - var(--activeLeaderCard)) / 3.4);padding-bottom:0;}
/* If 7th card is active */
.ourLeadersCards:has(.ourLeadersCard.active:nth-child(7)) > .ourLeadersCard:nth-child(7){width:var(--activeLeaderCard);}
.ourLeadersCards:has(.ourLeadersCard.active:nth-child(7)) > .ourLeadersCard:nth-child(5),.ourLeadersCards:has(.ourLeadersCard.active:nth-child(7)) > .ourLeadersCard:nth-child(6),.ourLeadersCards:has(.ourLeadersCard.active:nth-child(7)) > .ourLeadersCard:nth-child(8){width:calc((100% - var(--activeLeaderCard)) / 3.4);padding-bottom:0;}
/* If 8th card is active */
.ourLeadersCards:has(.ourLeadersCard.active:nth-child(8)) > .ourLeadersCard:nth-child(8){width:var(--activeLeaderCard);}
.ourLeadersCards:has(.ourLeadersCard.active:nth-child(8)) > .ourLeadersCard:nth-child(5),.ourLeadersCards:has(.ourLeadersCard.active:nth-child(8)) > .ourLeadersCard:nth-child(6),.ourLeadersCards:has(.ourLeadersCard.active:nth-child(8)) > .ourLeadersCard:nth-child(7){width:calc((100% - var(--activeLeaderCard)) / 3.4);padding-bottom:0;}

/* A Spirited Origin */
.spiritedOriginSliders{margin-top: 2.5em;}
.spiritedOriginSlider{margin-top: 2.5em;max-width: 75%;margin-inline: auto;}
.spiritedOriginSlideImg{border-radius: 20px;overflow: hidden;max-width: 85%;margin-inline: auto;}
.spiritedOriginSlideTitle,.spiritedOriginSlideNav{font-size: var(--fs-title);font-family: var(--Caladea-ff);color: var(--color-secondary);font-weight: var(--fw-regular);}
.spiritedOriginSlideTitle,.spiritedOriginSlideDesc{max-width: 650px;margin-inline: auto;}
.spiritedOriginSlideDesc{font-size: var(--fs-body);color: var(--color-primary);font-weight: var(--fw-medium);}
.spiritedOriginSlideNav{text-align: center;position: relative;padding-bottom: 22px;}
/* .spiritedOriginSlideNav.slick-current{color: var(--color-tertiary);} */
.spiritedOriginSliderNav::before{content: "";position: absolute;top: calc(100% - 6px);left: 50%;transform: translateX(-50%);background-color: var(--color-secondary);width: 80%;height: 1px;}
.spiritedOriginSlideNav::before{content: "";position: absolute;top: calc(100% - 12px);left: 50%;transform: translateX(-50%);background-color: var(--color-secondary);border-radius: 100%;width: 12px;height: 12px;}
.spiritedOriginSlider.slick-slider button.slick-prev,.spiritedOriginSlider.slick-slider button.slick-next{background-repeat: no-repeat;background-position: center;width: 39px;height: 39px;transform: translateY(-150%)}
.spiritedOriginSlider.slick-slider button.slick-prev.slick-disabled,.spiritedOriginSlider.slick-slider button.slick-next.slick-disabled{opacity: 0.2;}
.spiritedOriginSlider.slick-slider button.slick-next{background: url("data:image/svg+xml;utf8,<svg width='39' height='39' viewBox='0 0 39 39' fill='none' xmlns='http://www.w3.org/2000/svg'><circle cx='19.5' cy='19.5' r='18.5' transform='matrix(-1 0 0 1 39 0)' fill='white' stroke='%23394993' stroke-width='2'/><path d='M28 19.5L15.25 12.1388L15.25 26.8612L28 19.5Z' fill='%23394993'/></svg>");}
.spiritedOriginSlider.slick-slider button.slick-prev{background: url("data:image/svg+xml;utf8,<svg width='39' height='39' viewBox='0 0 39 39' fill='none' xmlns='http://www.w3.org/2000/svg'><circle cx='19.5' cy='19.5' r='18.5' fill='white' stroke='%23394993' stroke-width='2'/><path d='M11 19.5L23.75 12.1388L23.75 26.8612L11 19.5Z' fill='%23394993'/></svg>");}

/* Our Footprint */
.ourFootprintSec .commonSecTitle{margin-bottom: 0.5em;}
.ourFootprintSec .commonSecTxt{max-width: 800px;}
.footPrintInfoValue{font-size: calc(var(--fs-title) * 2);color: var(--color-tertiary);font-weight: var(--fw-regular);font-family: var(--Caladea-ff);}
.footPrintInfoTitle{font-size: var(--fs-body);color: var(--color-primary);font-weight: var(--fw-medium);text-transform: capitalize;}
.footPrintInfo > ul > li{padding-inline: 2.5em;}
.footPrintInfo > ul > li:not(:last-child)::before{content:"";position:absolute;top:0;left:100%;background:url("data:image/svg+xml;utf8,\<svg width='1' height='173' viewBox='0 0 1 173' fill='none' xmlns='http://www.w3.org/2000/svg'>\<path d='M0.5 0V173' stroke='url(%23paint0_linear)' stroke-dasharray='8 8'/>\<defs>\<linearGradient id='paint0_linear' x1='1' y1='0' x2='1' y2='173' gradientUnits='userSpaceOnUse'>\<stop stop-color='%232EA853' stop-opacity='0'/>\<stop offset='0.461538' stop-color='%232EA853'/>\<stop offset='1' stop-color='%232EA853' stop-opacity='0'/>\</linearGradient>\</defs>\</svg>") no-repeat center center;background-size:100% 100%;width:2px;height:100%;}

.footprintMap{margin-block: 1.5em;background-image: url(../images/footprintMap-bg.png);background-repeat: no-repeat;background-position: center;background-size: contain;}
.mapIndicators{bottom:15%;right:35%;}
.mapIndicators > li{display:flex;align-items:center;gap:0.5263em;}
.MapLableSpan{font-size:calc(var(--fs-body-txt) + 0.25px);color:var(--color-primary);font-family:var(--Caladea-ff);}
.mapColorSpan{width:10px;height:10px;border-radius:100%;}
.footprintMap > svg{max-width:40.834%;margin-inline:auto;}
.footprintMap > svg > p.stateMarker{transition: all 0.3s;}

/* Map PopUp */
.map-popup{position:fixed;background:#fff;border-radius:10px;padding:10px 12px;box-shadow:0 6px 15px rgba(0,0,0,.15);font-size:13px;pointer-events:none;opacity:0;transform:scale(.95) translateY(100px);transition:.5s ease;z-index:9999;max-width: 100px;}
.map-popup.show{opacity:1;transform:scale(1) translateY(0px);}
.popup-title{font-weight: var(--fw-regular);color:var(--color-primary);margin-bottom:6px;font-family: var(--Caladea-ff);line-height: 1.2;text-transform: capitalize;}
.popup-data{display:flex;gap:12px;justify-content:center;}
.popup-data div{display:flex;align-items:center;gap:4px;font-size:12px;}
.popup-data span{display:inline-block;}
.red{width:8px;height:8px;border-radius:50%;background:#F2302A;}
.yellow{width:8px;height:8px;border-radius:50%;background:#FFDD00;}
.gray{width:8px;height:8px;border-radius:50%;background:#979797;}
.popup-arrow{position:absolute;bottom:-6px;left:50%;transform:translateX(-50%);width:12px;height:12px;background:#fff;transform:translateX(-50%) rotate(45deg);}

/* Default (no sliding,≤5 items) */
.spiritedOriginSliderNav.no-slider{display:flex;justify-content:space-between;}
/* When slick is active */
.spiritedOriginSliderNav .slick-track{display:flex;}
.spiritedOriginSlideNav{cursor:pointer;text-align:center;color:var(--color-secondary);transition:all 0.5s;position:relative;width: 20%;}
.spiritedOriginSlideNav.active{color:var(--color-tertiary);}
.spiritedOriginSlideNav::before{content:"";position:absolute;top:calc(100% - 10px);left:50%;transform:translateX(-50%);width:10px;height:10px;background:var(--color-secondary);border-radius:50%;transition:all 0.5s;}
.spiritedOriginSlideNav.active::before{background:var(--color-tertiary);}

/* What We Do */
.blendingNBrewingArt .commonSecTitle{margin-bottom: 0.4em;}
.blendingNBrewingArt .commonSecTxt{max-width: 800px;}
.blendingNBrewingArt .dropDownContent{max-width: 1000px;margin-inline: auto;margin-block: 1em;}
details{padding-inline: 2.1875em;color:var(--color-secondary);cursor:pointer;margin-inline:auto;width:100%;}
details[open] > summary{}
details::details-content{height:0;interpolate-size:allow-keywords;opacity:0;overflow:hidden;transition:height 0.2s ease-in-out,content-visibility 0.5s ease-in-out,opacity 0.5s ease-in-out,scale 0.5s ease-in-out;transition-behavior:allow-discrete;}
details[open]::details-content{height:auto;opacity:1;transition:height 0.6s ease-in-out,content-visibility 0.3s ease-in-out,}
summary{font-size: calc(var(--fs-title) - 10px);padding: 0.8571em 0;border-bottom:1px solid var(--color-secondary);font-family: var(--Caladea-ff);font-weight: var(--fw-regular);color: var(--color-secondary);list-style:none;position:relative;transition:all 0.3s ease-in-out;}
summary:after{content:'';background-image: url("data:image/svg+xml,%3Csvg width='13' height='15' viewBox='0 0 13 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.75 7.35938L0 -0.00184059L0 14.7206L12.75 7.35938Z' fill='%23394993'/%3E%3C/svg%3E");background-position:center;background-repeat:no-repeat;background-size:100% 100%;position:absolute;right:1rem;top: 50%;width: 17px;height: 17px;transform: translateY(-50%);text-align:center;transition:transform 0.5s ease-in-out;}
details[open] > summary:after{transform:rotate(-90deg) translate(50%);}
details:hover > summary:after{transform:rotate(90deg) translate(-50%);}
.ctn-info{font-size: var(--fs-body);padding-block: 1.25em;font-weight: var(--fw-medium);color: var(--color-secondary);display: flex;justify-content: space-between;align-items: flex-start;gap: 0.8em;}
.ctn-info > *{max-width: 50%;}
.ctn-info p{transform: translateX(-200px);opacity: 0;transition: all 0.3s;transition-delay: 2s;}
.ctn-info .ctn-info-img{border-radius: 10px;overflow: hidden;transform: translateX(200px);opacity: 0;transition: all 0.5s;transition-delay: 2s;}
.ctn-info .ctn-info-img img{aspect-ratio: 2.58/1;}
details[open] .ctn-info p,details[open] .ctn-info .ctn-info-img{transform: translateX(0px);transition-delay: 0s;opacity: 1;}
.blendingNBrewingBrandsLogo{padding-block: 2.8125em;gap: 4.4375em;max-width: 800px;margin-inline: auto;}
.blendingNBrewingArt .exploreBlendsBtn{margin-top: 1em;}
.exploreBlendsBtn a{font-size: var(--fs-body);color: var(--color-secondary);font-weight: var(--fw-medium);gap: 1.1em;padding: 0.625em 2.5em;border: 1px solid var(--color-secondary);border-radius: 50px;max-width: fit-content;margin-inline: auto;}
.exploreBlendsBtn a > span:last-child:has(svg){overflow: hidden;}
.exploreBlendsBtn a > span > svg{transform: translateX(-50%);transition: all 0.5s;}
.exploreBlendsBtn a:hover > span > svg{transform: translateX(0px);}

/* Our Brand */
.ourBrandTabbingSec{margin-top: calc(var(--sv-gap)/2);}
.ourBrandContent{max-width: 880px;margin-inline: auto;}
.tabBtn{font-size: var(--fs-sub-txt);color: var(--color-senary);font-weight: var(--fw-medium);transition: all 0.3s;width: 100%;text-align: center;padding-bottom: 1em;}
.tabBtn.active{color: var(--color-secondary);}
.tabBtns{border-bottom: 1px solid var(--color-secondary);margin-bottom: 2.5em;}
.tabBtns::before{content:"";position:absolute;top:calc(100% - 3px);left:var(--tab-left,0px);width:var(--tab-width,0px);height:6px;border-radius:50px;background-color:var(--color-secondary);transition:all 0.5s ease;}
.tabBtns > ul{overflow-x: auto;}
.ourBrandTabContent{column-gap: 1.25em;row-gap: 4.375em;align-items: stretch;transition: all 0.3s;}
.ourBrandTabContent:has(.ourBrandTabContentCard:hover){align-items: flex-start;}
.ourBrandTabContentCard{padding:1.75em 2.375em;width:calc(33.3333% - 1em);display:flex;flex-direction:column;justify-content:center;align-items:center;}
.ourBrandTabContentCard::before{background:#FFFFFF;border-radius:20px;box-shadow:rgba(0,0,0,0.1) 0px 4px 12px;content:"";width:100%;height:100%;position:absolute;top:0;left:0;z-index:-1;transition:all 0.3s;}
.ourBrandTabContentCardLink > *{font-size:var(--fs-body-txt);color:var(--color-primary);font-weight:var(--fw-medium);padding:0.625em 1.25em;background-color:#EFEFEF;float:left;border-radius:50px;margin-top:1.1875em;}
.ourBrandTabContentCardLink{transition:all 0.3s;position: absolute;bottom: 0;opacity: 0;}
.ourBrandTabContentCard:has(.ourBrandTabContentCardLink):hover .ourBrandTabContentCardLink{opacity:1;}
.ourBrandTabContentCard:has(.ourBrandTabContentCardLink):hover::before{top:20%;height:90%;}
.ourBrandTabContentCard .ourBrandTabContentCardImg{transition: all 0.3s;}
.ourBrandTabContentCard:has(.ourBrandTabContentCardLink):hover .ourBrandTabContentCardImg{transform: scale(1.4) translateY(-20px);}

/* Our Brand PopUp */
.ourBrandPop{max-width: 700px;margin-inline: auto;position: relative;background-color: var(--color-secondary);border-radius: 13px;overflow: hidden;}
.ourBrandPop button.mfp-close{right:auto;left:10px;top:10px;width:fit-content;height:fit-content;line-height:1;}
.ourBrandPopContent > *{width:50%;}
.ourBrandPopTxt{padding: 0.8125em;}
.ourBrandPopTitle > *{font-size: calc(var(--fs-title-sub) + 1px);font-family: var(--Caladea-ff);font-weight: var(--fw-regular);color: #FFFFFF;}
.ourBrandPopDesc > *{font-size: calc(var(--fs-body-txt) - 3px);font-weight: var(--fw-regular);color: #FFFFFF;margin-block: 1em;}
.ourBrandPopBtn > *{font-size: calc(var(--fs-links) - 2px);font-weight: var(--fw-regular);color: #FFFFFF;line-height: 1.3;text-decoration: underline !important;}
.ourBrandPopImg > img{height: 100%;width: 100%;object-fit: cover;}
.mfp-scroll-lock{overflow: hidden !important;}